body {
    margin: auto;
    padding: 20px;
    font-family: 'Lexend Deca', sans-serif;
    color: #2E475D;
}
h2{
    text-align: center;
    background-color: #d4c9c5;
    color: red;
}
.active {
    cursor: pointer;
    background-color: #d4c9c5;
}

.inactive {
    background-color: #755454;
}
.board-box {
    display: flex;
    flex-wrap: nowrap;
    background-color: #edddb9;
    padding: 15px;
}

.board-box > div {
    width: 120px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border-radius: 15px;
}

#results {
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px solid;
}

#currentMove{
    font-size: 30px;
    margin: 10px;
}

#player1 {
    flex-direction: row-reverse;
    background-color: #cca347;
}

#BigPitOfPlayer1 label, #BigPitOfPlayer2 label {
    font-size: 20px;
    font-weight: bold;
    width:100%;
}

#BigPitOfPlayer1, #BigPitOfPlayer2 {
    background-color: #e38034;;
}

#winner {
    font-size: 30px;
    display: none;
}

#begin-game {
    width: 50%;
    font-size: 30px;
    margin-top: 50px;
    background-color: #cca347;
}
