<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheet.css}"/>
    <title>Kalaha Game</title>
</head>
<body>
<h2><a href="https://en.wikipedia.org/wiki/Kalah#:~:text=The%20game%20provides%20a%20Kalah,are%20placed%20in%20each%20house."
       style="color: red;">Kalaha Game</a> </h2>
<main role="main" class="container">
    <div id="currentMove"><b>Current Move: </b> <span></span></div>
    <div> </div>
    <div id="winner"><b>Winner of the Game is: </b> <span></span></div>
    <div> </div>
    <div id="kalaha-board">
        <div class="board-box" id="player1">
            <div></div>
            <div class="pit active"></div>
            <div class="pit active"></div>
            <div class="pit active"></div>
            <div class="pit active"></div>
            <div class="pit active"></div>
            <div class="pit active"></div>
            <div id="BigPitOfPlayer1"><label>Player 1</label><span></span></div>
        </div>
        <div class="board-box" id="player2">
            <div class="BigPit">&nbsp;</div>
            <div class="pit inactive"></div>
            <div class="pit inactive"></div>
            <div class="pit inactive"></div>
            <div class="pit inactive"></div>
            <div class="pit inactive"></div>
            <div class="pit inactive"></div>
            <div id="BigPitOfPlayer2"><label>Player 2</label><span></span></div>
        </div>
    </div>
    <button type="button" class="btn btn-primary" id="begin-game">Begin New Game</button>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script th:src="@{/javascript.js}"></script>
</body>
</html>